* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #ff9900;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-size: 20px;
  font-style: italic; 
  text-align: center;
  background: #232f3E;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%
;
  
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;   
}

/* Right column */
.rightcolumn1 {
  float: left;
  background-color: white;
  width: 100%;
  padding-left: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background:#232f3E ;
  margin-top: 20px;
}
